{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}}退出登录{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1 style="text-align: center">登录</h1>

</div>


<div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">
     
            {% if current_user.is_authenticated %}
                <a href="{{url_for('main.userlogout')}}"> 退出登录</a>
            {% else %}
                {{wtf.quick_form(form)}}
            {% endif %}
        
    </div>
    <div class="col-md-2 column">
    </div>
</div>
<div class="col-md-4">
    
</div>
{% endblock %}