

{%extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}注册{% endblock %}
{% block scripts %}
{{ super() }}
<script>
// $('.jumbotron').ready(function(){
    // document.getElementById("submit").className += ' btn-block btn-primary';

// })
</script>
{% endblock %}



{% block page_content %}
<div class = "row clearfix" >
		<div class = "col-md-12 column" >
            <h1 style="text-align: center">欢迎注册!</h1>
		</div>
    </div>

<div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">
        <div class="jumbotron">
                <form action="" method="post" class="form" role="form">
                <!-- {{ wtf.quick_form(form) }} -->
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.email,class= "form-control") }}
                {{ wtf.form_field(form.username,class= "form-control") }}
                {{ wtf.form_field(form.password,class= "form-control") }}
                {{ wtf.form_field(form.password2 ,class= "form-control") }}
                <!-- {{ form.submit(class_="form-control btn-primary btn-block") }} -->
                {{ wtf.form_field(form.submit, class="form-control btn btn-primary btn-block") }}
            </form>
        </div>
    </div>
    <div class="col-md-2 column">
    </div>
</div>
 <!-- <form  name= "register-form" id ="form"  method="post" >
    <input type="text" class="form-control" id="email" name="email" required>
    <input type="text"  class="form-control" id="username" name="username" required>
    <input type="password" class="form-control" id="password" name="password" required>
    <input type="submit" class="form-control" id="submit" name="submit" value="submit">
</form> -->

{% endblock %}




