{% extends "admin/base_admin.html" %}
{% block title%} 文章管理 {% endblock %}

{% block tab_title %}用户管理{% endblock %}

{% block styles %}
{{super()}}
<style>
        /* 防止下拉框的下拉列表被隐藏---必须设置--- */
        .layui-table-cell { overflow: visible !important; }
       /* 使得下拉框与单元格刚好合适 */
       td .layui-form-select{
       margin-top: -10px;
       margin-left: -15px;
       margin-right: -15px;
       }
</style>
{% endblock %}


{% block page_content %}

    <table id="demo" lay-filter="test"></table>
{% endblock %}
          
 

{% block scripts %}
{{super()}}
   <!-- 模板引擎 -->
   
   {% raw %}
   <script type="text/html" id="barDemo">
       <a class="layui-btn layui-btn-sm layui-btn-primary" href = "{{ d.url }}",lay-event="detail">查看</a>
       <a class="layui-btn layui-btn-sm " lay-event="edit">编辑</a>
       <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
   </script>
     
     <script type="text/html" id="zizeng">
       {{d.LAY_TABLE_INDEX+1}}
    </script>

    <script>

    layui.use('table', function(){
    var table = layui.table;
   
    //第一个实例
    table.render({
        elem: '#demo'
        // ,height: 312
        ,url: $SCRIPT_ROOT+'/admin/get-users'//数据接口
        ,method: 'post'
        ,contentType: 'application/json'
        ,page: true //开启分页
        ,toolbar: true
        ,id:'testReload'
        ,even: true //开启隔行背景
        // ,toolbar: 'default'
        ,cols: [[ //表头
            {type:'checkbox'}
            // ,{field:'zizeng', width:80, title: '序号',sort:true,templet:'#zizeng'}
            ,{field:'zizeng', width:80, title: '序号',type:'numbers'}
            ,{field: 'id', title: '用户ID', hide: true,width:80}
            ,{field: 'username', title: '用户名',}
            ,{field: 'join_time', title: '加入时间', width:'20%',
                    templet :function (row){
                        return createTime(row.join_time);
                        }}
            // ,{field: 'type_id', title: '类型号', width:80}
            ,{field: 'role', title: '角色', width:140}
            ,{field:'right', title: '操作', width:177,toolbar: '#barDemo'}
            ]]
        ,request: {
        pageName: 'page' //页码的参数名称，默认：page
        ,limitName: 'limit' //每页数据量的参数名，默认：limit
        }
        ,response: {
            statusName: 'status' //数据状态的字段名称，默认：code
            ,statusCode: 200 //成功的状态码，默认：0
            ,msgName: 'msg' //状态信息的字段名称，默认：msg
            ,countName: 'count' //数据总数的字段名称，默认：count
            ,dataName: 'data' //数据列表的字段名称，默认：data
        }

        ,parseData: function(res){ //res 即为原始返回的数据
            return {
            "status": res.status, //解析接口状态
            "msg": res.message, //解析提示文本
            "count": res.count, //解析数据长度
            "data": res.data //解析数据列表
            };
        }
        });
         /* 第一个实例结束 */

         
            //监听工具条
            table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

                if(layEvent === 'del'){ //删除
                    layer.confirm('真的删除行么', function(index){
                        //向服务端发送删除指令
                        $.ajax({
                            type: "POST",
                            url: $SCRIPT_ROOT+'/delete-blog',
                            data: JSON.stringify({
                                "id":data['id'],
                            }),
                            dataType: "json",
                            contentType:"application/json",
                            success: function (response) {
                                if (response.status ==200){
                                     obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                     layer.close(index);
                                     layer.msg(response.message,{time:5000})
                                }
                            }
                        });
                    });
                }else if(layEvent === 'edit'){ //编辑
                    layer.confirm('确定编辑吗?', function(index){
                        window.location.href = ("../admin/update-blog/"+data['id']);
                    });
                }
            });
      

});
    
    </script>

   {% endraw %}

{% endblock %}
 

