.profile-thumbnail {
    position: absolute;
   
    height: 40px;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
.window {
    /*border-style:solid;*/
    max-height: 600px;
    margin-left : 100px;
    margin-right: 100px;
   /* background-color: aquamarine;*/
}
.window-head{
    border-radius: 20px 20px 0px 0px;
    min-height:3em;
    /*margin-bottom: 0px;*/
    background-color:#25b6ed/*#00aeef*/
}
.window-head-title{
    padding: 8px;
    color: #888;
    text-align: center;
    font-size: 1em;
}
.window-show{
   /* margin:10px 10px 10px 10px; */
    height: 35em;
    overflow:auto;
    overflow-x:hidden;
    background-color: rgb(248, 248, 248);
}
.window-show-line{
    margin:10px; 
    min-height: 5em;
}
.window-show-data{
    margin-top: 5px;
    border:2px solid #00aeef;
	padding:10px 40px; 
	background:#dddddd;
	width: auto;
	border-radius:0% 50px 50px 50px;
}
.window-foot{
    border-radius: 0px 0px 20px 20px;
    min-height:6em;
    background-color:#25b6ed;
}
.foot-first{
    max-height:3em;
}
.window-input{
    width: 100%;
    height: 2.5em;
    border-radius:5px;
}
.window-submit{
    height: 3em;
    width: 100%; 
}
.foot-second{
    margin-top: 1px;
    height: 2.5em;
}
.foot-ico{
    
}