{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}退出登录{% endblock %}

{% block page_content %}
<div class="page-header">
    <img src="../../static/aqua.jpg" alt="..."  class="center-block img-circle"  width="100px">
    <h1 style="text-align: center">管理员登录</h1>

</div>


<div class="row clearfix">
    <div class="col-xs-2 column">
    </div>
    <div class="col-xs-8 column">
        
            {% if current_user.is_authenticated %}
            <p style="text-align: center">您已登录,<a href="{{url_for('admin.admin_logout')}}"> 退出登录</a></p>
            {% else %}
            <form action="" method="post" class="form" role="form">
                    <!-- {{ wtf.quick_form(form) }} -->
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.email,class= "form-control") }}
                    {{ wtf.form_field(form.password,class= "form-control") }}
                    <!-- {{ form.submit(class_="form-control btn-primary btn-block") }} -->
                    {{ wtf.form_field(form.remember_me,class= "form-control") }}
                    {{ wtf.form_field(form.submit, class="form-control btn btn-primary btn-block") }}
            </form>
            {% endif %}
        
    </div>
    <div class="col-xs-2 column">
    </div>
</div>

    
</div>
{% endblock %}