
{% extends "admin/base_admin.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 写文章 {% endblock %}
{% block styles %}
{{super()}}
    <link rel="stylesheet" href="/static/css/editormd.min.css">
{% endblock %}


{% block content %}

                <form class="layui-form layui-form-pane" action="" method="post">

                    <div id="blog-editormd">
                            <textarea class="editormd-markdown-textarea" name="body" style="display: none;">{{article.body}}</textarea>，
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">输入框</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">下拉选择框</label>
                        <div class="layui-input-block">
                            <select name="type" lay-filter="aihao">
                                {% for type in types %}
                                <option value="{{type.id}}">{{type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="demo1">立即提交</button>
                        </div>
                    </div>
                </form>
{% endblock %}

{% block scripts %}
{{super()}}
    <script src="/static/js/editormd.js"></script>
    <script src="/static/editormd/plugins/emoji-dialog/emoji-dialog.js"></script>
    <script src="/static/editormd/plugins/code-block-dialog/code-block-dialog.js"></script>
    <script src="/static/editormd/plugins/image-dialog/image-dialog.js"></script>
    <script>

        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;

        });

        var BlogEditor;
        $(function () {
            BlogEditor = editormd("blog-editormd", {
                width: $(".jumbotron").width,
                height: $(".jumbotron").height,
                syncScrolling: "single",
                emoji: true,
                placeholder : "Enjoy Markdown! coding now...",
                saveHTMLToTextarea : true,
                path: $SCRIPT_ROOT+"static/editormd/lib/",
                //启动本地图片上传功能
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : $SCRIPT_ROOT+"admin/upload-blog-img",
                onload: function () {
                //console.log('onload', this);
                //this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();
                //this.width("100%");
                //this.height(480);
                //this.resize("100%", 640);
                },
            });
        });
        layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render('select', 'test2')
        });
        
    </script>
    <script>
            $(document).ready(function () {
                $("#t1").addClass("layui-this");
            });
           
    </script>
{% endblock %}