{% extends "admin/base_admin.html" %}

{% block title %} 写文章 {% endblock %}

{% block styles %}
{{super()}}

<style>
.ck-content{
    /* margin: 10 20px !important; */
    padding:20px 40px!important;
}

.ck-content p,h1,h2,h3,h4{
        margin: 0 0 15px;
        word-break: break-word;
}

/* .ck-content { height: 500px; } */

li#ck-toolbar {
    float: right;
    padding-right: 4px;
}
.ck.ck-toolbar.ck-reset_all.ck-rounded-corners{
    border: none;
}
#posts{
    font-size: 18px!important;
}

</style>

{% endblock %}


{% block page_content %}
<div class="layui-fluid">
<div class="layui-row ">
    <div class="layui-col-md3">
        <div id ="files" >
            <!-- form -->
            <div class="layui-form layui-form-pane" action="#" method="POST">
                {{form.hidden_tag()}}
                <input style="display: none" name = "id" id = "article_id" value="{%if article %}{{article.id}} {% endif %}">
                <div class="layui-form-item layui-row">
                    <input class="layui-col-xs12 layui-input" id="title" name="title" value="{%if article %}{{article.title}} {% endif %}" required placeholder="请输入标题"
                        style="border-style: none;border-bottom: 1px solid;">
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">下拉选择框</label>
                    <div class="layui-input-block">
                        <select name="type" id="type" lay-filter="aihao">
                            {% for type in types %}
                            <option value="{{type.id}}">{{type.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <button class="layui-btn layui-btn-fluid" id="submit"> 立即提交</button>
            </div>
            <!-- formend -->
            
            <!-- 上传 -->
            <div >
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>拖拽上传</legend>
                    </fieldset>

                    <div class="layui-upload-drag" id="upload">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
            </div>
            <div >
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>拖拽上传</legend>
                    </fieldset>

                    <div class="layui-upload-drag" id="upload">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
            </div>
            <div >
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>拖拽上传</legend>
                    </fieldset>

                    <div class="layui-upload-drag" id="upload">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
            </div>
            <div >
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>拖拽上传</legend>
                    </fieldset>

                    <div class="layui-upload-drag" id="upload">
                        <i class="layui-icon"></i>
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
            </div>
             <!-- 上传结束 -->
        </div>
    </div>

    <div class="layui-col-md9">
        <!-- ck文章编辑器 -->
        <div id = "posts">
                    <div id="editor" style="margin-top: 10px"></div>
        </div>

    </div>

    
</div>
</div>
{% endblock %}


{% block scripts %}
{{super()}}

<script>

    layui.use('layer', function(){
        var layer = layui.layer;
    });

    layui.use('upload', function(){
        var upload = layui.upload;
    });

</script>
<script type="text/javascript" src="/static/ckeditor5/ckeditor.js"></script>
<script type="text/javascript" src="/static/ckeditor5/translations/zh-cn.js"></script>
<script type="text/javascript" src="/static/ckeditor5/my_ck_config.js"></script>

<script type="text/javascript" src="/static/js/admin/upload-data.js"> </script>







<script>
    // /* 格式化字符串函数 */
    // function codeFormat(code, indent, tmpIndent) {
    //     var indent = indent || '  ';
    //     var tmpIndent = tmpIndent || '\n';
    //     var preg = /<(\S*)([^>]*)>([\s\S]*?)<\/\1>/ig;
    //     return code.replace(preg, function ($0, $1, $2, $3) {
    //         return tmpIndent + '<' + $1 + $2 + '>' +
    //             codeFormat($3, indent, tmpIndent + indent) +
    //             ($3.trim().substr(0, 1) == '<' ? tmpIndent : '') +
    //             '</' + $1 + '>';
    //     });
    // }

    


    layui.use('form', function () {
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        form.render() //渲染表单
    });

    //加载动画
    var ii = layer.load();
    setTimeout(function () {
        layer.close(ii);
    }, 1000);


    //提交文章函数
    function post(){
        $.ajax({
            type: "POST",
            url: $SCRIPT_ROOT + "admin/write-blog",
            data: JSON.stringify({
                "title": $("#title").val(),
                "type": $("#type").val(),
                "body_origin": editor.getData()
            }),
            dataType: "json",
            success: function (response) {
                if (response.status = "200") {
                    window.location.href = $SCRIPT_ROOT + "blog/" + response.id;
                } else {
                    alert('error')
                }

            }
        });
    }

    $(document).ready(function () {

        $("#files").css({"height":$(".left-nav").height()-60,"overflow-y":"scroll","padding-top":"20px"});
        $("#posts").css({"height":$("#files").height(),"overflow-y":"scroll"})

/* .ck-content { height: 500px; } */
        

        $("#submit").click(function () {
            if ($("#title").val() == '') {
                layer.msg('请输入标题')
                return
            }
            if (editor.getData() == '') {
                layer.open({
                    content: '输入内容为空,确定提交吗?',
                    btn: ['确认', '取消'],
                    yes: function (index, layero) {
                        post()
                    },
                    btn2: function (index, layero) {
                    }
                });
                return
            }else{
                layer.open({
                    content: '确定提交吗?',
                    btn: ['确认', '取消'],
                    yes: function (index, layero) {
                        post()
                    },
                    btn2: function (index, layero) {
                    }
                });
            }
          

        });

    });
</script>
{% endblock %}