
{% extends "admin/base_admin.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 写文章 {% endblock %}
{% block styles %}
{{super()}}

{% endblock %}

{% block navbar %}
    {{super()}}
{% endblock %}

{% block content %}
                <form class="layui-form layui-form-pane">
                    <!-- ck文章编辑器 -->
                    <div id="toolbar-container"></div>
                    <div name="body" style="height: 400px;" id="editor"></div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">输入框</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">下拉选择框</label>
                        <div class="layui-input-block">
                            <select name="type" lay-filter="aihao">
                                {% for type in types %}
                                <option value="{{type.id}}">{{type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn layui-btn-fluid" lay-submit="" type="button" lay-filter="*">立即提交</button>
                        </div>
                    </div>
                </form>
{% endblock %}

{% block scripts %}
{{super()}}

  <script type="text/javascript" src="/static/ckeditor5/ckeditor.js"></script>
  <script type="text/javascript" src="/static/ckeditor5/translations/zh-cn.js"></script>
  <script type="text/javascript" src="/static/ckeditor5/my_ckeditor_config.js"></script>

     




<script>
        var $DRAFT = "{{ draft }}";
        var $DRAFT_URL = "{{ draft_url}}";

  
       

        layui.use('form', function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功

        //……

        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render()
   
        
        });
      

 
    </script>
{% endblock %}
