<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>关于我</title> 
    <link rel="stylesheet" href="../static/css/about_me.css" >
    <link rel="shortcut icon" href="../static/my.ico" type="image/x-icon">
    <link rel="icon" href="../static/ico/my.ico" type="image/x-icon">   
</head>

<body>
<header class="myheader">

		<nav class="navbar">
                <div class="container">
                        <a name="here"></a>
                        <ul>
                        <li class="myli"><a href="{{url_for('main.index')}}">主页</a></li>
                        </ul>
                        <ul style="padding-left:10%">
                       
                        <li class="myli"><a href="{{url_for('main.blogs')}}">我的博客</a></li>
                          <!-- <li class="myli"><a href="{{url_for('main.about')}}">关于我</a></li> -->
                        </ul>
                       
                    </div>
            </nav>
</header>
<section id ="sec">
    <div>
        <div>
            <img src="{{url_for('static',filename='img/1header.png')}}" style="width:100%;height:100%">
        </div>
    </div>
    <div>
            <h1>个人信息：</h1>
            <hr>
            <ul>
                <li>姓名：湛允鹏</li>
                <li>英文名：Steve</li>
                <li>年龄：21</li>
                <li>生日：1996/9/16</li>
                <li>学历：本科大三计算机科学与技术</li>

            </ul>
            <h1>联系方式：</h1>
            <hr>
            <ul>
                <li>EMAIL: 136688059@qq.com</li>
                <li>WEIBO:<a href="https://weibo.com/5705735415/profile"> 小treezyp的微博</a></li>

                <li> QQ:136688059</li>
            </ul>
            <h1>个人代码库：</h1>
            <hr>
            <ul>
                <li>GITHUB:<a href="https://github.com/runningzyp"> https://github.com/runningzyp</a></li>
                
            </ul>
    </div>
</section>
</body>
</html>
