
<!DOCTYPE html>
<html>
<head>
{% block head %}
<title>{% block title %} 香菜花 {% endblock %}</title>	
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="" />
<meta name="keywords" content="" />

{% block styles %}
<link rel="shortcut icon" href="/static/my.ico" type="image/x-icon">
<link rel="icon" href="/static/ico/my.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/static/css/blogcss/default.css" />
<link rel="stylesheet" type="text/css" href="/static/css/blogcss/component.css" />
<link rel="stylesheet" href="/static/x-admin/lib/layui/css/layui.css">
{% endblock %}
{% endblock %}
</head>

<body>
    

<div class="container">
	<header class="clearfix">
		<h1>香菜的小书桌</h1>
		<nav class="codrops-demos">
			<!-- <a class="current-demo" href="">文本模式</a> -->
			<a href="{{url_for('main.about')}}">关于我</a>
			<a id = 'change-back' href="{{url_for('main.blogs')}}">博客</a>
		</nav>
		<span class="support-note">欢迎来到香菜的博客</span>
    </header>
</div>

<div class="layui-fluid">
    {% block main %}
    
    {% endblock %}
	
</div>



{% block scripts %}
<script>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/x-admin/lib/layui/layui.all.js" charset="utf-8"></script>
<script type="text/javascript" size="150" alpha='0.3' zIndex="-2" src="/static/js/ribbon.js"></script>

<script>
    {% for message in get_flashed_messages() %}
        layer.msg('{{message}}', {
            offset: 't',
            anim: 6
            });
    {% endfor %}
</script>
{% endblock %}

</body>
</html> 

































