{% extends "base.html" %}
{% block title %}{{blog.title}}{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/css/blogcss/blog.css">
<style>
.layui-code-view{
    border: none!important
}
body {
    color: #3c484e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

p{
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 28px;
    font-size: 16px;
    margin: 0 0 1.5em;

}
</style>


{% endblock %}


{% block main %}
  <div class="layui-col-md9 layui-col-xs12">
      <div class="letter">

          <div class="layui-col-xs12">
              <div class="layui-col-xs11">
                  <h1>{{blog.title}}</h1>
              </div>
              <div class="layui-col-xs2 layui-col-xs-offset10">
                  <p style="float:right;font-size: small;">阅读:{{blog.visit_num}}</p>
              </div>
              <!-- {{blog.finish_time}} -->
              <hr>
              <div class="layui-col-xs-offset8 layui-col-xs4">
                  <p style="float:right;font-size: small;">{{blog.local_time}}</p>

              </div>
          </div>


          <!-- 博客文章从这开始 -->
          <div name="textarea" id="editor">
              {{blog.body_origin|safe}}
          </div>
          <!-- 到这结束 -->
      </div>
      <div class="comments_show commnet_editor" style="display: none">
           <div class="layui-col-xs12">
              <form class="layui-form" id ="comment_form">
                        <div class="layui-form-item">
                        <label class="layui-form-label">邮箱</label>
                        <div class="layui-input-block">
                            <input type="text" name="email" id= "email" required  lay-verify="email" placeholder="*" autocomplete="off" class="layui-input">
                        </div>
                        </div>

                        <div class="layui-form-item">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" id ="name" style="margin-left: 30px" required lay-verify="required" placeholder="*" autocomplete="off" class="layui-input">
                        </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">评论</label>
                                <div class="layui-input-block">
                                <textarea name="comment" id= "comment" placeholder="请输入内容" class="layui-textarea"></textarea>
                                </div>
                        </div>
                        <button class="layui-btn layui-btn-fluid" type="button" id="comment_submit">发表</button>
                </form>
            </div>
      </div>
      <div class="comments_show">
            <a id = "add_comment">添加评论</a>

            <ul class="comments">
                    {% for comment in comments %}
                    <li class="comment">
                        <div class="profile-thumbnail">
                             <img class="img-rounded profile-thumbnail" src="https://www.gravatar.com/avatar/{{ comment.hash_email}}?size=100&d=404" onerror="this.src='/static/aqua.jpg'"/>
                        </div>
                        <div class="comment-content">
                            <div class="comment-date">{{ comment.local_time }}</div>
                            <div class="comment-author">{{ comment.name}}</div>
                            <div class="comment-body">{{ comment.content }}</div>
                            
                           {% if comment.reply %}
                            <div class="comment-reply"> <img class="img-rounded profile-thumbnail" src="/static/yuko.png" onerror="this.src='/static/aqua.jpg'"/>
                                <p>香菜@{{ comment.name}}:</p><p>{{comment.reply}}</p>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
            </ul>

      </div>
    
  </div>

  <div class="layui-col-md3 layui-col-xs12">
       <!-- <div class="sidebar">    

       </div> -->
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
    <script src="/static/ckeditor5/ckeditor.js"></script>
    

    <script>
        var blog_id = {{blog.id}}
        $("#comment_submit").click(function(){
           $.ajax({
               type:"POST",
               url: $SCRIPT_ROOT+"/blog/add-comment",
               data: JSON.stringify({
                   "article_id":blog_id,
                   "email":$("#email").val(),
                   "name":$("#name").val(),
                   "comment":$("#comment").val()
               }),
               dataType: "json",
               success: function (res) {
                   if(res.status == "200"){
                       layer.msg(res.message)
                   }else{
                       layer.msg(res.message)
                   }
               }
           });
        })




    </script>
    

    <script type="text/javascript">
        ClassicEditor
            .create(document.querySelector('#editor'), {

                image: {
                    // You need to configure the image toolbar, too, so it uses the new style buttons.
                    toolbar: ['imageStyle:alignLeft', 'imageStyle:full', 'imageStyle:alignRight', '|',
                        'imageTextAlternative'
                    ],
                    styles: [
                        // This option is equal to a situation where no style is applied.
                        'full',

                        // This represents an image aligned to the left.
                        'alignLeft',

                        // This represents an image aligned to the right.
                        'alignRight'
                    ]
                },
                language: 'zh-cn',
            })
            .then(editor => {
                const toolbarContainer = editor.ui.view.stickyPanel;
                editor.isReadOnly = true; //将编辑器设为只读
                editor.ui.view.top.remove(toolbarContainer);
            })

            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
            layui.code({
                elem: 'pre' //默认值为.layui-code
            });
    </script>
  <script>
      $(document).ready(function () {
          $("#add_comment").click(function () {
            //   $(".commnet_editor").toggleClass("layui-hide")
            $(".commnet_editor").slideToggle()
              if ($(this).text() =="添加评论"){
                    $(this).text("收起")
              }else{
                    $(this).text("添加评论")
              }

          })


      });
  </script>



{% endblock %}