{%block head %}
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>香菜花</title>	
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="shortcut icon" href="../static/my.ico" type="image/x-icon">
<link rel="icon" href="../static/ico/my.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
<script src="../static/js/modernizr.custom.js"></script>

{% endblock %}

{% block page_content %}
<div class="container">
	<header class="clearfix">
		<h1>香菜的后花园</h1>
		<nav class="codrops-demos">
			<!-- <a class="current-demo" href="">文本模式</a> -->
			<!-- <a href="">常规模式</a> -->
		</nav>
		<span class="support-note">欢迎来到香菜的博客</span>
	</header>
	<div class="main">
		<ul id="bk-list" class="bk-list clearfix">
			<li>
				<div class="bk-book book-1 bk-bookdefault">
					<div class="bk-front">
						<div class="bk-cover">
								<div>
										<img src="../static/img/book_image/gg.png">
								</div>
							<h2>
								<span>The Little Pleasures of Life</span>
								<span>闲情记趣</span>
							</h2>
						</div>
						<div class="bk-cover-back">
								<div class="side">
										<span class="box"></span>
										<span class="short"></span>
										<span class="short"></span>
										<span class="middle"></span>
										<span class="lang"></span>
										<span class="middle"></span>	
										<span class="lang"></span>
										<span class="lang"></span>
									</div>
						</div>
					</div>
					<div class="bk-page">

						<div class="bk-content" id = 'funny'>
								{% if articles[2] %}
							<div  class="title">
								<p>{{articles[2][0].id}}</p>

								</div>
							<div  class="content">
								<p>{{articles[2][0].title}}</p>
							</div>	
								{% endif %}		
						</div>
					

					</div>
					<div class="bk-back">
						<p></p>
					</div>
					<div class="bk-right"></div>
					<div class="bk-left">
						<div>
							<p>湛</p>
							<p>允</p>
							<p>鹏</p>
						</div>
					</div>
					<div class="bk-top"></div>
					<div class="bk-bottom"></div>
				</div>
				<div class="bk-info">
					<button class="bk-bookback">翻转</button>
					<button class="bk-bookview">查看内容</button>
					<h3>
						<span></span>
						<span>闲情记趣</span>
					</h3>
					<p>我们所度过的每个平凡的日常，也许就是连续发生的奇迹。
						<br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
						&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;—日常
					</p>
					
				</div>
			</li>
			<li>
				<div class="bk-book book-2 bk-bookdefault">
					<div class="bk-front">
						<div class="bk-cover">
							
							<h2>
								<span>技术</span>
								<span>技术</span>
							</h2>
						</div>
						<div class="bk-cover-back">
							<div class="side">
								<span class="box"></span>
								<span class="short"></span>
								<span class="short"></span>
								<span class="middle"></span>
								<span class="lang"></span>
								<span class="middle"></span>	
								<span class="lang"></span>
								<span class="lang"></span>
							</div>
						</div>
					</div>
					<div class="bk-page">
							<div class="bk-content" id = 'study'>
									{% if articles[0] %}
									<div  class="title">
										
										{{articles[0][0].title}}
									
									</div>	
									<div  class="content">天衢不错</div>	
									{% endif %}		
								</div>
				
				
					</div>
					<div class="bk-back">
						<p></p>
					</div>
					<div class="bk-right"></div>
					<div class="bk-left">
						<div>
							<p>天</p>
							<p>气</p>
							<p>不</p>
							<p>错</p>
						</div>
					</div>
					<div class="bk-top"></div>
					<div class="bk-bottom"></div>
				</div>
				<div class="bk-info">
					<button class="bk-bookback">翻转</button>
					<button class="bk-bookview">查看内容</button>
					<h3>
						<span>Mario Purrzo</span>
						<span>The Catfather</span>
					</h3>
					<p></p>
				</div>
			</li>
			<li>
				<div class="bk-book book-3 bk-bookdefault">
						<div class="bk-front">
							<div class="bk-cover">
									<div>
											<img src="../static/img/book_image/kk2.png">
									</div>
								
								<h2>
									<span>essay</span>
									<span>心情随笔</span>
								</h2>
							</div>
							<div class="bk-cover-back">
									<div class="side">
											<span class="box"></span>
											<span class="short"></span>
											<span class="short"></span>
											<span class="middle"></span>
											<span class="lang"></span>
											<span class="middle"></span>	
											<span class="lang"></span>
											<span class="lang"></span>
									</div>
							</div>
						</div>
						<div class="bk-page">
							
								<div class="bk-content" id = 'essay'>
										{% if articles[1] %}
										<div  class="title">
											
											{{articles[1][0].title}}</div>	
											
										<div  class="content"></div>
										{% endif %}			
									</div>
						</div>
						<div class="bk-back">
							<img src="../static/img/book_image/33.png" alt="cat" />
							<p></p>
						</div>
						<div class="bk-right"></div>
						<div class="bk-left">
							<div>
								<p>天</p>
								<p>气</p>
								<p>不</p>
								<p>错</p>
							</div>							
						</div>
						<div class="bk-top"></div>
						<div class="bk-bottom"></div>
					</div>
					<div class="bk-info">
						<button class="bk-bookback">翻转</button>
						<button class="bk-bookview">查看内容</button>
						<h3>
							<span></span>
							<span>心情随笔</span>
						</h3>
						<p>我们曾经仰望星空，思索自身的存在
								,而现在我们只会低着头，担心身边的一切.
								<br>
								We used to look up at the sky and wonder who ww are,
								now we just look down and worry about oourselves.</p>
					</div>
				</li>
		</ul>
	</div>
</div><!-- /container -->
{% endblock %}

<script src="../static/js/jquery-1.11.1.js"></script>
<script>
		
		counts = {{counts}};

		var gl_total_page = {
		'study': counts[0],
		'essay': counts[1],
		'funny': counts[2]
		};
		gl_current_page ={
			'study':1,
			'essay':1,
			'funny':1			
		}
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<script src="../static/js/books1.js"></script>
<script>
	
	$(function () {
		Books.init();

	});

</script>
