<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>一个耿直的网站</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../static/css/form-elements.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="shortcut icon"href="../static/my.ico">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
      

    </head>

    <body>

        <!-- Content -->
        <div class="top-content">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
             {{ message }}
            </div>
             {% endfor %}
            <div class="inner-bg">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                        	<a class="logo" href="{{url_for('main.index')}}"></a>
                            <h1><strong>PTOP</strong> transmission</h1>
                            <div class="description">
                            	<p style="color: grey;">
	                            	只需要简单的操作就能实现移动设备与web端的互联 
                            	</p>
                            </div>
                            <div class="top-big-link">
                                {% if current_user.is_authenticated %}
                                <a class="btn btn-link-1" href=" {{url_for('main.user',username=current_user.username)}}">OK,开始</a>
                                {% else %}
                                <a class="btn btn-link-1 launch-modal" data-modal-id="modal-login">OK,开始</a>
                                {% endif %}
                            </div>

                        
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
        <!-- MODAL -->
        <div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal-login-label" aria-hidden="true">
        	<div class="modal-dialog">
        		<div class="modal-content">
        			
        			<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        				</button>
        				<h3 class="modal-title" id="modal-login-label">立即登录</h3>
        				<p>填写下面的表格即可访问：</p>
        			</div>
        			
        			<div class="modal-body" id ="main-body">
        				
	                    <form role="form" name= "form" id ="form" action="" method="post" class="registration-form">
                                                                                               
                                                            <input type="text"  maxlength="1" id="one" style="left: 0%;" class="form-style" required>
                                                                                                                                                                   
                                                            <input type="text" maxlength="1" id="two"  style="left: 17%;" class="form-style" required>                                                         
                                                                                                 
                                                            <input type="text" maxlength="1" id="three" style="left: 34%;"  class="form-style " required>                                                                          
                                                            <input type="text"  maxlength="1" id="four" style="left: 51%;" class="form-style " required>
                                                            <input type="text"  maxlength="1" id="five" style="left: 68%;" class="form-style " required>
                                                            <input type="text"  maxlength="1" id="six" style="left: 85%;" class="form-style " required>
                                                            <input type="hidden" name="ID" id= "ID">
                                                                                                                             
                               
                                     <!-- 真正提交的内容 --> 
                                     
	                    </form>
	                    
        			</div>
        			
        		</div>
        	</div>
        </div>


        <!-- Javascript -->
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/js/jquery.backstretch.min.js"></script>
        <script src="../static/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->
<script>
    $("input").change(function () {
        var f=form;
        var str =f.one.value+f.two.value+f.three.value+
                         f.four.value+f.five.value+f.six.value;   
        if(str.length==6){
            document.getElementById("ID").value = str;
           document.getElementById("form").submit();
        }
    });
</script>
<style type="text/css">  
.form-style{
    position: absolute;
    width: 15%;
}
/* #form input:not(:first-child){
    margin-left: 1.5% 
} */
.registration-form{
    position: relative;
    width: 100%;
    height: 50px;
}

</style>

    </body>
    

</html>