{% extends "base.html" %}
{% block head %}

{{ super() }}
{% endblock %}

{% block page_content %}
<div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">

        <div class="paper">
            {% for articles in articles %}
                {{articles.title}}
            {% endfor %}
        </div>

        <button class="bt" value="click"> click</button>
    </div>
    <div class="col-md-2 column">
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static',filename = 'js/jquery-1.11.1.min.js')}}"></script>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    $(".bt").click(function(){
     alert('hello');
     $.post(
        $SCRIPT_ROOT+'/blogs',{
            page :1,
            article_type:3
        },
        function(data,status){
        alert("Data: " + data.+ status);
    });
      return false;
});

</script>
{% endblock %}