<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script type="text/javascript" src="/static/ckeditor5/ckeditor.js"></script>



</head>

<body>

    <div class="container">

        <div class="row">

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                <!-- This container will become the editable. -->
                <div name = "textarea" id="editor">
                    {{blog|safe}}
                </div>

            </div>


        </div>

    </div>

<script src="/static/js/jquery-1.11.1.js"></script>
    <script>


   
       
        DecoupledEditor
            .create(document.querySelector('#editor'),{

                 ckfinder: {
                    // Upload the images to the server using the CKFinder QuickUpload command.
                    uploadUrl: "http://127.0.0.1:5000/admin/img"
                },  

                image: {
                // You need to configure the image toolbar, too, so it uses the new style buttons.
                toolbar: [   'imageStyle:alignLeft', 'imageStyle:full', 'imageStyle:alignRight','|','imageTextAlternative' ],
                styles: [
                    // This option is equal to a situation where no style is applied.
                    'full',
    
                    // This represents an image aligned to the left.
                    'alignLeft',
    
                    // This represents an image aligned to the right.
                    'alignRight'
                ]
             },


            })
            .then(editor => {
                editor.isReadOnly = true; //将编辑器设为只读
                // const toolbarContainer = document.querySelector('#toolbar-container');

                // toolbarContainer.appendChild(editor.ui.view.toolbar.element);
                
                // editor.setData(data);   

            })
    
            .catch(error => {
                console.error(error);
            });
            
     

    </script>
</body>

</html>