{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}{{current_user.username}}的{% endblock %}
{% block head %}
{{super()}}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Page Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ url_for('static', filename='my.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='my.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='css/window.css')}}">
{% endblock %}


{% block body %} 

     <div class="window">
         <div class="move">
        <div class="window-head">
            <div class="col-1 text-center">
                <a href="{{url_for('main.userlogout')}}">
                        <span class="glyphicon glyphicon-remove " style="font-size: 10px;color:rgb(248, 248, 248);margin-top:15px; " ></span>
                </a>
            </div>        
            <div class="col-8 text-center">
                    <div class="window-head-title">欢迎使用,{{current_user.username}}</div>
            </div>
            <div class="col-1 text-center">
                <a href="#">
                        <span class="glyphicon glyphicon-user" style="font-size: 20px;color:rgb(248, 248, 248); margin-top:10px;" ></span>
                </a>
            </div>
        </div>
        <div class="window-show">              
                        {% for dat in data %}
                        {% if dat.text or dat.sec_filename %}
                          <div class="window-show-line">
                               <div class="row clearfix">
                                       <div class="col-md-1 col-xs-2 column" style="padding-left:15px;padding-right: 0;">
                                               <a href="{{url_for('.user',username=dat.author.username)}}">
                                                   <img class="profile-thumbnail img-responsive" src="{{ url_for('static', filename='ico/web.png') }}">
                                               </a>                                                            
                                       </div>
                                      
                                       <div class="col-md-7 col-xs-8 column" style="padding-left:0px;" >
                                           
                                           <div class="window-show-data">
                                           <!-- <div class="post-date">{{dat.timestamp}}</div> -->
                                           <div>{{dat.text}}</div>
                                           {% if dat.sec_filename %}
                                           <a href="{{url_for('.uploaded_file',filename=dat.sec_filename)}}">{{dat.sec_filename}}</a>
                                           {% endif %}
                                        </div>
                                        
                                       </div>
                                       <div class="col-md-3 column">
                                       </div>
                                       <div class="col-md-1 column">
                                       </div>
                               </div>
                            </div>
                            {% endif %}
                        {% endfor %}
        </div>
        
        <div class="window-foot">
             <form  name= "text-form" id ="form" action="" method="post" >
                <div class="foot-first">
                        <div class="row clearfix">
                              <div class="col-xs-10 column" style="padding-right: 0">
                                  <input type="text" class="window-input" name="text" id= "text">
                                  </div>
                              <div class="col-xs-2 column" style="padding-left: 0">
                                  <div class="window-submit">
                                   <div id="text-submit" name="text-submit" class="btn btn-default btn-block btn-primary">提交 </div>
                                  </div>
                              </div>
                          </div>
                </div>
                <div class="foot-second">
                        <div class="row clearfix">
                                <div class="col-md-3 col-xs-3 column"><img class="img-responsive center-block"  src="{{ url_for('static', filename='ico/1.png') }}"> </div>
                                <div class="col-md-3 col-xs-3 column"><img class="img-responsive center-block"  src="{{ url_for('static', filename='ico/2.png') }}"></div>
                                <div class="col-md-3 col-xs-3 column"><img class="img-responsive center-block"  src="{{ url_for('static', filename='ico/3.png') }}"></div>
                                <div class="col-md-3 col-xs-3 column"><img class="img-responsive center-block"  src="{{ url_for('static', filename='ico/4.png') }}"></div>
                        </div>                                             
                </div>
         </form>
        </div>
        <div class="window-hidden" >
            <form  name= "file-form" id ="file-form" action="" method="post" enctype="multipart/form-data"> 
                <input type="file" name="file">              
                <input type="submit" value="上传">
            <div class="Aqua">
                <div class="aqua-left">
                    <img class="img-responsive"  src="{{ url_for('static', filename='img/backgrounds/box.png') }}">
                </div>
                <div class="aqua-right">
                    <img class="img-responsive"  src="{{ url_for('static', filename='img/backgrounds/Aqua_nobox.png') }}">
                 </div>
               
            </div>
             </form>
            </div>
       
        </div> <!-- move -->
     </div>
    {% block script %}
    <script src="../static/js/jquery-1.11.1.js"></script>
    <script src="../static/js/window.js"></script>
    <script type=text/javascript>
 
 

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $('#text-submit').click(function() {  // 等于按钮
    $.getJSON($SCRIPT_ROOT + '/_send', {
      text: $('#text').val(),
      device_type: 'web'
    }, function(data) {
        $("input[name='text']").val("").focus();
        $(".window-show").append($add_text);
        $(".window-hide-line").show(1000);
        $('.window-show').scrollTop( $('.window-show')[0].scrollHeight );
    });


    $add_text ='<div class="window-hide-line">'+
                '<div class="row clearfix">'+
                    '<div class="col-md-1 col-xs-2 column" style="padding-left:15px;padding-right: 0;">'+
                        '<a href="{{url_for('.user',username=current_user.username)}}">'+
                            '<img class="profile-thumbnail img-responsive" src="{{ url_for('static', filename='ico/web.png') }}">'+
                        '</a>'+
                    '</div>'+

                    '<div class="col-md-7 col-xs-8 column" style="padding-left:0px;">'+

                        '<div class="window-show-data">'+
                                '<div>' + $('#text').val() +'</div>'+
                        '</div>'+

                    '</div>'+
                    '<div class="col-md-3 column">'+
                    '</div>'+
                    '<div class="col-md-1 column">'+
                    '</div>'+
                '</div>'+
            '</div>';
   




  });
    </script>
    
     
    {% endblock %}
</body>
{% endblock %}