{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}正在编辑...{% endblock %}
{% block head %}

{{ super() }}
<link rel="stylesheet" href="../static/css/editormd.min.css">
{% endblock %}

{% block page_content %}
<div class="row clearfix">
    <div class="col-md-12 column">
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">
        <div class="jumbotron">
            <form method="post">
                {{form.hidden_tag()}}
                <div id="blog-editormd" class="form-control">
                    {{form.body(class="form-control",required="required",style="display:none;",id="ts")}}
                </div>
                {{ wtf.form_field(form.title,class= "form-control") }}
                {{ wtf.form_field(form.article_id,class= "form-control") }}

                <button type="submit" class="btn btn-primary form-control">提交</button>
            </form>
        </div>
    </div>
    <div class="col-md-2 column">
    </div>
</div>
{% endblock %}


{%block scripts%}
{{super()}}
<script src="../static/js/editormd.js"></script>
<script src="../static/editormd/plugins/emoji-dialog/emoji-dialog.js"></script>
<script src="../static/editormd/plugins/image-dialog-qiniu/image-dialog-qiniu.js"></script>


<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    // $("#ts").append('hello'); //添加内容的方法
    var BlogEditor;
    $(function () {
        BlogEditor = editormd("blog-editormd", {
            width: $(".jumbotron").width,
            height: $(".jumbotron").height,
            syncScrolling: "single",
            emoji: true,
            placeholder          : "Enjoy Markdown! coding now...",
            path: "../static/editormd/lib/",
            //启动本地图片上传功能
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : $SCRIPT_ROOT+"/upload_blog_img",
            onload: function () {
                        //console.log('onload', this);
                        //this.fullscreen();
                        //this.unwatch();
                        //this.watch().fullscreen();
                        //this.width("100%");
                        //this.height(480);
                        //this.resize("100%", 640);
                    },
        });
    });
</script>
{% endblock %}